VITE_EMAILJS_PUBLIC_KEY=HTKc-BpLMf1jIJbF_
VITE_EMAILJS_SERVICE_ID=service_vwsws69
VITE_EMAILJS_TEMPLATE_ID=template_5c4o1dm
VITE_EMAILJS_FROM_EMAIL=mapengbo111@gmail.com
VITE_EMAILJS_FROM_NAME=Span
VITE_EMAILJS_SUCCESS_MESSAGE=Thanks for subscribing to Span. We will update you with our beta program and early access news soon.
